@using ClinicalKnowledgeManager.ViewModels
@model ClinicalKnowledgeManager.ViewModels.TopicSearchResult

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@*@if (Model.ContextQuery != null) {
    @Html.Partial("FilterDescription", new ContextFilter(Model.ContextQuery));
}*@
@Html.Partial("TopicList", Model.Topics)