@model IEnumerable<ClinicalKnowledgeManager.ViewModels.TopicDetail>

<div class="index">
    @foreach (var item in Model) {
        <div class="topic">
            @Html.ActionLink(
            string.Format("{0}   ({1})", item.Topic.Name, item.Topic.Audience), 
            "Details", new { id = item.Topic.Id })
        </div>
    }
</div>